<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body class="bg-zinc-900 min-h-screen text-white">

    <!-- Header -->
    <header class="bg-zinc-800 p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold text-yellow-500">EchoPost</h1>
            <nav class="space-x-4">
                <a href="/login" class="text-blue-400 hover:text-blue-500 transition">Login</a>
                <a href="/register" class="text-green-400 hover:text-green-500 transition">Sign Up</a>
            </nav>
        </div>
    </header>
    

    <!-- Main Content -->
    <main class="container mx-auto p-6 ">
        <h2 class="flex justify-center align-center text-3xl font-semibold text-yellow-500 mt-20 mb-6">Login or sign up to use this website</h2>
        
    </main>

</body>
</html>
