<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 p-10 text-white">
        
        <div class="p-5">
            <h5 class="mb-3 text-xl ">Upload Profile Picture</h5>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input class="" type="file" name="image">
                <input class="px-3 py-2 bg-blue-800 block rounded-md mt-5 w-full" type="submit" value="Upload Image">
            </form>
        </div>
        
        
        
    </div>

</body>
</html>